## Bank Marketing Analysis

by Runtian Li, Rafe Chang, Sid Grover, Anu Banga

**Repo Link:** https://github.com/UBC-MDS/dsci_522_group_8.git

In [1]:
## Import necessary Packages
import altair as alt
import altair_viewer
import pandas as pd
import numpy as np
import statistics
import os
import sys

sys.path.append("code/.")

# Data 
from ucimlrepo import fetch_ucirepo 

# Machine Learning
import IPython
import matplotlib.pyplot as plt
import mglearn
import numpy as np
import pandas as pd
from IPython.display import HTML, display
# from plotting_functions import *
from sklearn.dummy import DummyClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score, cross_validate, train_test_split
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer, make_column_transformer
from sklearn.metrics import make_scorer, f1_score, recall_score, precision_score, accuracy_score
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import uniform
import pandas as pd

# %matplotlib inline
pd.set_option("display.max_colwidth", 200)

from IPython.display import Image

# Summary
TBD

# Introduction
TBD

# Method
## Data
The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed. It was sourced from the UCI Machine Learning Repository and can be found [here](https://archive.ics.uci.edu/dataset/222/bank+marketing). We will be using bank-full.csv with all examples and 17 inputs, ordered by date (older version of this dataset with less inputs). 

These are the detail of all inputs:

| Feature Name | Type        | Description                                                                                   | Classes |
|--------------|-------------|-----------------------------------------------------------------------------------------------|---------|
| age          | Numeric     |                                                                                               |         |
| job          | Categorical | Type of job                                                                                   | 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown' |
| marital      | Categorical | Marital status                                                                                | 'divorced','married','single','unknown' |
| education    | Categorical |                                                                                               | 'primary', 'secondary', 'tertiary', 'unknown' |
| default      | Categorical | Has credit in default?                                                                        | 'no', 'yes', 'unknown' |
| housing      | Categorical | Has housing loan?                                                                             | 'no', 'yes', 'unknown' |
| loan         | Categorical | Has personal loan?                                                                            | 'no', 'yes', 'unknown' |
| balance      | Numeric     | Balance of the individual                                                                     |         |
| contact      | Categorical | Contact communication type                                                                    | 'cellular', 'telephone' |
| month        | Categorical | Last contact month of year                                                                    | 'jan', 'feb', 'mar', ..., 'nov', 'dec' |
| day          | Categorical | Last contact day of the week                                                                  | 'mon', 'tue', 'wed', 'thu', 'fri' |
| duration     | Numeric     | Last contact duration, in seconds                                                             |         |
| campaign     | Numeric     | Number of contacts performed during this campaign and for this client                        |         |
| pdays        | Numeric     | Number of days that passed by after the client was last contacted from a previous campaign    |         |
| previous     | Numeric     | Number of contacts performed before this campaign and for this client                         |         |
| poutcome     | Categorical | Outcome of the previous marketing campaign                                                    | 'failure', 'nonexistent', 'success' |
| y            | Binary      | Has the client subscribed to a term deposit?                                                  | 'yes', 'no' |


The classification goal is to predict if the client will subscribe (yes/no) a term deposit (variable y).

## Analysis
TBD

# Results and Discussion

TBD

### Exploratory Data Analysis

In [2]:
# # fetch dataset 
# bank_marketing = fetch_ucirepo(id=222) 
  
# # data (as pd dataframes) 
# X = bank_marketing.data.features 
# y = bank_marketing.data.targets 
  
# # metadata 
# #display(bank_marketing.metadata) 
  
# # variable information 
# display(bank_marketing.variables) 
import warnings
warnings.filterwarnings('ignore', category=FutureWarning)

df = pd.read_csv("data/bank-full.csv", delimiter=";")
df.rename(columns={"y": "target"}, inplace=True)
train_df, test_df = train_test_split(df, test_size=0.2, random_state=123)

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36168 entries, 28686 to 15725
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        36168 non-null  int64
 1   job        36168 non-null  object
 2   marital    36168 non-null  object
 3   education  36168 non-null  object
 4   default    36168 non-null  object
 5   balance    36168 non-null  int64
 6   housing    36168 non-null  object
 7   loan       36168 non-null  object
 8   contact    36168 non-null  object
 9   day        36168 non-null  int64
 10  month      36168 non-null  object
 11  duration   36168 non-null  int64
 12  campaign   36168 non-null  int64
 13  pdays      36168 non-null  int64
 14  previous   36168 non-null  int64
 15  poutcome   36168 non-null  object
 16  target     36168 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.0+ MB

In [4]:
display(pd.DataFrame(train_df.describe()).T)

,count,mean,std,min,25%,50%,75%,max
age,36168.0,40.944979,10.609908,18.0,33.0,39.0,48.00,95.0
balance,36168.0,1371.354208,2999.155128,-8019.0,73.0,448.5,1448.00,98417.0
day,36168.0,15.801095,8.309679,1.0,8.0,16.0,21.00,31.0
duration,36168.0,258.955403,259.218884,0.0,103.0,180.0,319.25,4918.0
campaign,36168.0,2.759013,3.095290,1.0,1.0,2.0,3.00,58.0
pdays,36168.0,40.199762,100.114274,-1.0,-1.0,-1.0,-1.00,871.0
previous,36168.0,0.580596,2.364362,0.0,0.0,0.0,0.00,275.0

In [5]:
train_df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,target
28686,29,services,single,secondary,no,-205,no,no,cellular,30,jan,194,1,-1,0,unknown,no
9304,53,blue-collar,married,primary,no,0,yes,no,unknown,5,jun,285,2,-1,0,unknown,no
41425,55,management,married,primary,no,2587,no,no,cellular,4,sep,328,2,94,2,success,yes
44803,30,technician,single,tertiary,no,0,no,no,cellular,15,sep,214,2,-1,0,unknown,no
5878,30,unemployed,married,secondary,no,529,yes,yes,unknown,26,may,107,3,-1,0,unknown,no

In [6]:
# #Distribution
# numeric = ["age", "balance", "day_of_week", "duration", "campaign", "pdays", "previous"]
# alt.data_transformers.enable("vegafusion")

# charts = []

# # Create density plots for each numeric column
# for column in numeric:
#     chart = alt.Chart(df).transform_density(
#         column,
#         groupby=["target"],  # Assuming "target" is a column in your DataFrame
#         as_=[column, "density"]
#     ).mark_area(opacity=0.5).encode(
#         x=alt.X(f"{column}:Q").scale(zero = False),
#         y=alt.Y("density:Q").stack(False).scale(zero = False),
#         color="target"
#     )
#     charts.append(chart)

In [7]:
# for i in range(0,len(charts)-1):
#     display(charts[i])

In [8]:
# alt.Chart(df).mark_bar().encode(
#     y = alt.Y(alt.repeat()).sort("x"),
#     x = alt.X("count()").stack(False).scale(zero = False),
#     color = alt.Color('target:O')
# ).repeat(["job", "marital", "education", "default", "housing", "loan", "contact", "poutcome"])

### Preprocessing

<div class="alert alert-info">
    
- Since there is no missing values in our dataset, we don't need to do imputation or drop NAs.   
- We are going to drop "contact", "day" and "month" column here since they are not helping us in identifying useful underlying pattern in the model.    
- We take "age", "balance", "duration", "campaign", "pdays", "previous" as numerical features and we are doing StandardScaler transformation on them.
- We take "job", "marital", "education", "default", "housing", "loan", "poutcome" as categorical features and we are doing one hot encoding on them. We dropped columns only if the categorical is binary.
    
</div>

In [11]:
numeric_looking_columns = X_train.select_dtypes(include=np.number).columns.tolist()
print(numeric_looking_columns)

['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']

In [12]:
# Lists of feature names
numerical_features = ["age", "balance", "duration", "campaign", "pdays", "previous"]
categorical_features = ["job", "marital", "education", "default", "housing", "loan", "poutcome"]
drop_features = ["contact", "day", "month"]

# Create the column transformer
preprocessor = make_column_transformer(    
    (StandardScaler(), numerical_features),  # scaling on numeric features   
    (OneHotEncoder(drop="if_binary"), categorical_features),  # OHE on categorical features
    ("drop", drop_features),  # drop the drop features
)

# Show the preprocessor
preprocessor

ColumnTransformer(transformers=[('standardscaler', StandardScaler(),
                                 ['age', 'balance', 'duration', 'campaign',
                                  'pdays', 'previous']),
                                ('onehotencoder',
                                 OneHotEncoder(drop='if_binary'),
                                 ['job', 'marital', 'education', 'default',
                                  'housing', 'loan', 'poutcome']),
                                ('drop', 'drop', ['contact', 'day', 'month'])])

In [10]:
# Seperate X and y
X_train = train_df.drop(columns=["target"])
X_test = test_df.drop(columns=["target"])
y_train = train_df["target"]
y_test = test_df["target"]

In [13]:
# This line nicely formats the feature names from `preprocessor.get_feature_names_out()` so that we can more easily use them below
preprocessor.verbose_feature_names_out = False

# Create a dataframe with the transformed features and column names
ct = preprocessor.fit(X_train)

# Columns names after one hot encoding
ohe_columns = list(
    preprocessor.named_transformers_["onehotencoder"]
    .get_feature_names_out(categorical_features)
)

# Columns after transformation
new_columns = (
    numerical_features + ohe_columns
)

# Now create the DataFrame with the dense data
X_train_enc = pd.DataFrame(preprocessor.transform(X_train), index=X_train.index, columns=new_columns)
X_train_enc.head()

,age,balance,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,...,education_secondary,education_tertiary,education_unknown,default_yes,housing_yes,loan_yes,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
28686,-1.125848,-0.525607,-0.250585,-0.568295,-0.411533,-0.245565,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9304,1.136220,-0.457253,0.100475,-0.245219,-0.411533,-0.245565,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
41425,1.324725,0.405335,0.266360,-0.245219,0.537396,0.600341,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
44803,-1.031595,-0.457253,-0.173429,-0.245219,-0.411533,-0.245565,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5878,-1.031595,-0.280868,-0.586213,0.077857,-0.411533,-0.245565,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0

### Model Selection

In [14]:
# 1. Base Model: Dummy Classifier
classification_metrics = ["accuracy", "precision", "recall", "f1"]
dc = DummyClassifier(strategy="most_frequent")
pipe_dc = make_pipeline(preprocessor, dc)
# The mean and std of the cross validated scores for all metrics as a dataframe
cross_val_results = {}
scoring = {
    "accuracy": 'accuracy',
    'precision': make_scorer(precision_score, pos_label="yes", zero_division=0),
    'recall': make_scorer(recall_score, pos_label="yes"),
    'f1': make_scorer(f1_score, pos_label="yes")
}  # scoring can be a string, a list, or a dictionary

cross_val_results['dummy'] = pd.DataFrame(cross_validate(pipe_dc, X_train, y_train, return_train_score=True, scoring=scoring)).agg(['mean', 'std']).round(3).T

# Show the train and validation scores
cross_val_results['dummy']

                  mean    std
fit_time         0.163  0.039
score_time       0.303  0.066
test_accuracy    0.883  0.000
train_accuracy   0.883  0.000
test_precision   0.000  0.000
train_precision  0.000  0.000
test_recall      0.000  0.000
train_recall     0.000  0.000
test_f1          0.000  0.000
train_f1         0.000  0.000

In [15]:
# 2. Logistic regression

# The logreg model pipeline
logreg = make_pipeline(preprocessor, LogisticRegression(max_iter=1000, random_state=123))

# The mean and std of the cross validated scores for all metrics as a dataframe
cross_val_results['logreg'] = pd.DataFrame(cross_validate(logreg, X_train, y_train, return_train_score=True, scoring=scoring)).agg(['mean', 'std']).round(3).T

# Show the train and validation scores
cross_val_results['logreg']

                  mean    std
fit_time         0.680  0.014
score_time       0.374  0.007
test_accuracy    0.900  0.003
train_accuracy   0.900  0.001
test_precision   0.652  0.029
train_precision  0.655  0.006
test_recall      0.313  0.019
train_recall     0.315  0.009
test_f1          0.423  0.023
train_f1         0.425  0.009

In [16]:
# 3. Support vector classifier

# The svc model pipeline
svc = make_pipeline(preprocessor, SVC(random_state=123))

# The mean and std of the cross validated scores for all metrics as a dataframe
cross_val_results['svc'] = pd.DataFrame(cross_validate(svc, X_train, y_train, return_train_score=True, scoring=scoring)).agg(['mean', 'std']).round(3).T
# Show the train and validation scores
cross_val_results['svc']

                   mean    std
fit_time         36.749  1.766
score_time       11.271  0.858
test_accuracy     0.899  0.002
train_accuracy    0.907  0.001
test_precision    0.655  0.016
train_precision   0.726  0.007
test_recall       0.288  0.008
train_recall      0.326  0.007
test_f1           0.400  0.010
train_f1          0.450  0.007

In [17]:
# 4. Balanced logistic regression
logreg_bal = make_pipeline(preprocessor, 
                           LogisticRegression(max_iter=1000, 
                                              random_state=123, 
                                              class_weight="balanced"))

# The mean and std of the cross validated scores for all metrics as a dataframe
cross_val_results['logreg_bal'] = pd.DataFrame(cross_validate(logreg_bal, X_train, y_train, return_train_score=True, scoring=scoring)).agg(['mean', 'std']).round(3).T

# Show the train and validation scores
cross_val_results['logreg_bal']

                  mean    std
fit_time         0.635  0.025
score_time       0.382  0.008
test_accuracy    0.829  0.002
train_accuracy   0.829  0.001
test_precision   0.386  0.005
train_precision  0.386  0.003
test_recall      0.777  0.012
train_recall     0.778  0.002
test_f1          0.516  0.006
train_f1         0.516  0.003

In [18]:
# 5. Balanced support vector classifier
svc_bal = make_pipeline(preprocessor, SVC(random_state=123, class_weight="balanced"))

# The mean and std of the cross validated scores for all metrics as a dataframe
cross_val_results['svc_bal'] = pd.DataFrame(cross_validate(svc_bal, X_train, y_train, return_train_score=True, scoring=scoring)).agg(['mean', 'std']).round(3).T

# Show the train and validation scores
cross_val_results['svc_bal']

                   mean    std
fit_time         68.235  2.134
score_time       19.779  0.199
test_accuracy     0.814  0.006
train_accuracy    0.825  0.001
test_precision    0.368  0.010
train_precision   0.388  0.001
test_recall       0.821  0.011
train_recall      0.864  0.004
test_f1           0.508  0.011
train_f1          0.535  0.001

In [19]:
# Compare the average scores of all the models
pd.concat(
    cross_val_results,
    axis='columns'
).xs(
    'mean',
    axis='columns',
    
    level=1
).style.format(
    precision=2
).background_gradient(
    axis=None
)

`Dummy Classifier` has low accuracy and zero precision, recall, and F1 scores, indicating it never predicts the positive class (in this case the client subscribed a term deposit). This is expected as it always predicts the most frequent class.

`logreg` shows improved accuracy over the dummy model. However, its recall is low, suggesting it misses a significant number of true positive cases. `svc` performed almost the same as logistic regression model among all metrics.

`logreg_bal` and `svc_bal` have lower accuracy compared to their unbalanced counterparts but significantly higher recall. This indicates they are better at identifying positive cases but at the cost of making more false positive errors.

Given the context of our bank marketing data set, we aim to detect the clients who will subscribe a term deposit given the features. Missing a potential "yes" could be more costly than false positives, as it represents a lost opportunity for the sales team to transform this potential customer. Therefore, a balanced model might be more suitable, as it is better at identifying customers who are more likely to subscribe the term deposit, allowing for targeted promotion and sales strategies.

In [41]:
param_dist = {
    'logisticregression__C': uniform(0.001, 100)
}

# Perform RandomizedSearchCV
random_search = RandomizedSearchCV(
    logreg_bal, param_dist, scoring='accuracy', n_iter=100, random_state=123
)

# Fit the randomized search to find the best parameters
random_search.fit(X_train, y_train)

# Get the best parameters and the best score
best_params = random_search.best_params_
best_score = random_search.best_score_

print("Best Parameters:", best_params)
print("Best Score:", best_score)

Best Parameters: {'logisticregression__C': 1.6139206695016828}
Best Score: 0.8291584882225628

In [42]:
# Create a new logistic regression model with the best parameters
best_logreg_bal = make_pipeline(
    preprocessor,
    LogisticRegression(
        C=1.6139206695016828,
        max_iter=1000,
        random_state=123,
        class_weight="balanced"
    )
)

# Fit the model on the entire training data
best_logreg_bal.fit(X_train, y_train)

# Predict on the test set
y_pred = best_logreg_bal.predict(X_test)

# Evaluate the performance on the test set
test_accuracy = accuracy_score(y_test, y_pred)

print("Test Accuracy:", test_accuracy)

Test Accuracy: 0.8293707840318478

The prediction model demonstrated good performance on the test data, achieving an overall accuracy of 82.9%. This suggests that nearly 83 out of every 100 predictions made by the model aligned with the actual outcomes in the test dataset.

# References